<template>
  <section class="main-content">
    <loader class="loading" v-if="isLoading"/>

    <div class="search-container" v-if="!isLoading">
      <search-form/>
    </div>

    <h2 v-if="!searchResultTerm">{{ currentTab.tab_name }}</h2>

    <h2 v-if="searchResultTerm">
      {{ searchResultTerm }}
      <span class="button__clear" @click="onClearSearch">×</span>
    </h2>

    <section class="filters-container" v-if="!isLoading">
      <div>
        <dropdown-filter 
          :filterTitle="'People'" :searchList="videoPeopleList" 
          v-on:filterByTag="onPeopleFilterSelected($event)" />
      </div>
      
      <div>
        <dropdown-filter 
          :filterTitle="'Terms'" :searchList="videoTermsList" 
          v-on:filterByTag="onTermFilterSelected($event)" />
      </div>
    </section>

    <section class="tags-container" v-if="!isLoading">
      <filter-tag 
        v-if="filterTagPeople" 
        :tag="filterTagPeopleText"
        v-on:tagClicked="filterTagPeople = !filterTagPeople" />

      <filter-tag 
        v-if="filterTagTerm" 
        :tag="filterTagTermText"
        v-on:tagClicked="filterTagTerm = !filterTagTerm" />
    </section>

    <video-playlist-container />
  </section>
</template>

<script>
import videos from '@/api/videos'
import DropdownFilter from '@/components/DropdownFilter.vue'
import FilterTag from '@/components/FilterTag.vue'
import Loader from '@/components/Loader.vue'
import SearchForm from '@/components/SearchForm.vue'
import VideoPlaylistContainer from '@/components/VideoPlaylistContainer.vue'

/**
 * Set up the Home component
 * @constructor
 **/
export default {
  name: 'home',

  /**
   * Represents all components used in the current scope
   * @property
   */
  components: {
    DropdownFilter,
    FilterTag,
    Loader,
    SearchForm,
    VideoPlaylistContainer
  },

  /**
   * Computed properties are template variables which in this case handles async data.
   * @property
   */
  computed: {

    /**
     * Represents the state of keywordSearch
     * @async
     */
    searchResultTerm () {
      const searchResult = this.$store.getters.keywordSearch
      if (searchResult) return `Search results for '${searchResult}'`

      return ''
    },

    /**
     * Represents current tab selected
     * @async
     */
    currentTab () {
      const list = this.$store.getters.tabList
      if (list[0]) return list.filter(tab => 'active' === tab.classes)[0]

      return { tab_name: '' }
    },

    /**
     * Represents currentTagsPeople state to use in the dropdown filter
     * @async
     */
    videoPeopleList () {
      return this.$store.getters.currentTagsPeople
    },

    /**
     * Represents currentTagsTerms state to use in the dropdown filter
     * @async
     */
    videoTermsList () {
      return this.$store.getters.currentTagsTerms
    }

  },

  /**
   * Data properties are template variables, they're sync and runs before the component is created.
   * @property {function}
   */
  data () {
    return {
      isLoading: false,
      filterTagTerm: false,
      filterTagPeople: '',
      filterTagTermText: ''
    }
  },

  /**
   * Represents all component functions
   * @property
   */
  methods: {

    /**
     * Split string into array
     * @function
     * @return {Array}
     */
    setArrayFromString (word) {
      return word.split(',')
    },

    /**
     * Creates an array with tabs information
     * @function
     * @return {Array}
     */
    setTabsArray (tabsIds, tabsData) {
      const tabList = []
      tabsIds.forEach(element => tabList.push(tabsData[element]))
      return tabList
    },

    /**
     * Dispatch an event to clean the search input
     * @function
     * @return {undefined}
     */
    onClearSearch () {
      this.$store.dispatch('filterVideos', { keyword: '', searchType: 'title' })
    },

    onPeopleFilterSelected (event) {
      this.filterTagPeople = this.filterTagPeople ? this.filterTagPeople : !this.filterTagPeople
      this.filterTagPeopleText = event.value
    },

    onTermFilterSelected (event) {
      this.filterTagTerm = this.filterTagTerm ? this.filterTagTerm : !this.filterTagTerm
      this.filterTagTermText = event.value
    },

    /**
     * Get video data from API and init all the app state
     * @function
     * @return {undefined}
     */
    getVideoList () {
      this.isLoading = true

      videos.getList()
        .then(response => {
          const tabsIds = this.setArrayFromString(response.data.mcd.tab_creator)
          const allVideos = response.data.content
          const allVideosKeys = Object.keys(allVideos)

          // Stores channel general data
          this.$store.commit('setMainChannelData', response.data.mcd)

          // Stores tabs data
          this.$store.commit('setTabList', this.setTabsArray(tabsIds, response.data.tabs))

          // Sets first tab as 'selected'
          this.$store.commit('setSelectedTabId', allVideosKeys[0])
          
          // Stores all videos
          this.$store.commit('setAllVideos', allVideos)
          
          // Stores current video list based on first tab selected
          this.$store.commit('setCurrentVideoList', allVideosKeys.map(key => allVideos[key])[0])

          this.isLoading = false    
          
          this.$store.dispatch('insertCurrentVideoTerms', this.$store.getters.currentVideoList)      
        })
        .catch(error => console.error(error))
    }
  },

  /**
   * Lifecycle hook whick is executed when the component is mounted
   * @property {function}
   */
  mounted () {
    this.getVideoList()
  }
}
</script>

<style lang="scss" scoped>
.main-content {
  min-height: 700px;
  padding: 20px 15px;
  background: #fff;
  box-sizing: border-box;
}

.search-container {
  display: none;
}

h2 {
  padding-left: 15px;
}

.loading {
  margin: 120px auto;
}

.filters-container { 
  display: flex;
  padding: 0 15px;

  & div {
    margin-right: 25px;
  }
}

.tags-container {
  padding-left: 15px;
}

.button__clear {
  font-size: 30px;
  font-weight: bold;
  color: #fff;
  background: #000;
  padding: 1px 10px 5px 10px;
  &:hover {
    cursor: pointer;
    opacity: 0.5;
  }
}

@media (max-width: 1000px) {
  .main-content {
    padding: 20px 30px;
  }

  .search-container {
    display: block;
  }
}

@media (max-width: 700px) {
  .main-content {
    padding: 20px 15px;
  }
}

@media (max-width: 505px) {
  .search-container {
    float: left;
    width: 100%;
    margin-top: -45px;
    margin-bottom: 15px;
  }
}
</style>
