<template>
	<header>
		<div class="logo-container">
			<img src="../assets/masterclass-logo.png" alt="Masterclass Channel">
		</div>
		<div class="menu-container">
			<navigation-tab/>
		</div>
		<div class="search-container">
			<search-form/>
		</div>
	</header>
</template>

<script>
import NavigationTab from '@/components/NavigationTab.vue'
import SearchForm from '@/components/SearchForm.vue'

/**
 * Set up the AppHeader component
 * @constructor
 **/
export default {
	name: 'app-header',

	/**
   * Represents all components used in the current scope
   * @property
   */
	components: {
		NavigationTab,
		SearchForm
	}
}
</script>

<style lang="scss" scoped>
header {
	height: 161px;
	width: 100%;
	background: url('../assets/header-background.png');
	background-size: contain;
	box-sizing: content-box;
}

.logo-container {
	float: left;
	padding-left: 30px;
}

.logo-container img {
	height: auto;
	max-height: 108px;
}

.menu-container {
	position: relative;
	top: 116px;
	height: 46px;
	width: 100%;
}

.search-container {
	float: right;
	margin-top: -15px;
	height: 44px;
	width: 100%;
	max-width: 300px;
	padding-right: 30px;
}

@media (max-width: 1000px) {
	.search-container {
		display: none;
	}
}

@media (max-width: 700px) {
	header {
		padding: 0 15px;
	}

	.logo-container {
		padding-left: 0;
	}

	.menu-container {
		top: 108px;
	}
}

@media (max-width: 505px) {
	header {
		height: 100px;
	}

	.logo-container img {
		max-width: 85%;
	}

	.menu-container {
		top: -90px;
		padding-right: 15px;
	}
}

@media (max-width: 400px) {
	header {
		height: 75px;
	}
}
</style>
