<template>
  <section class="dropdown-filter">
    <a @click="noneItemSelected = !noneItemSelected" class="dropdown-filter__link-open">
      {{ filterTitle }} 
      <span class="fas fa-caret-down"></span>
    </a>
    <ul v-if="noneItemSelected">
      <li>
        <input type="search" v-model="search">
      </li>
      <li v-for="item in filteredList" :key="item">
        <a @click="onItemSelected(item)">{{ item }}</a>
      </li>
    </ul>
  </section>
</template>

<script>
/**
 * Set up the DropdownFilter component
 * @constructor
 **/
export default {
  name: 'dropdown-filter',

  /**
   * Props represents variables passed by the parent component
   * @property
   */
  props: {
    filterTitle: {},
    searchList: {}
  },

  /**
   * Data properties are template variables, they're sync and runs before the component is created.
   * @property {function}
   */
  data () {
    return {
      search: '',
      noneItemSelected: null,
      itemSelected: ''
    }
  },

  /**
   * Computed properties are template variables which in this case handles async data.
   * @property
   */
  computed: {

    /**
     * Represents the filter list and apply the input value if it's necessary
     * @async
     */
    filteredList () {
      return this.searchList.filter(item => 
        item.toLowerCase().includes(this.search.toLowerCase())
      )
    }

  },

  /**
   * Represents all component functions
   * @property
   */
  methods: {

    onItemSelected (item) {
      this.$emit('filterByTag', { type: this.filterTitle, value: item })   
    },

    /**
     * Check if there is any dropdown open
     * @function
     * @return {Object}
     */
    onClose (event) {
      if (this.$el.querySelectorAll('.dropdown-filter ul').length > 0) {
        this.noneItemSelected = !this.noneItemSelected
      }
    }

  },

  /**
   * Lifecycle hook whick is executed when the component is mounted
   * @property {function}
   */
  mounted () {
    /**
     * EventListener to hide the dropdown list
     */
    window.addEventListener('click', this.onClose)
  },

  /**
   * Lifecycle hook whick is executed before the component is destroyed
   * @property {function}
   */
  beforeDestroy () {
    window.removeEventListener('click', this.onClose)
  }
}
</script>

<style lang="scss" scoped>
.dropdown-filter {
  margin-bottom: 15px;

  & .dropdown-filter__link-open {
    text-decoration: none;
    color: #333;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }

    & span {
      margin-left: 5px;
    }
  }

  & ul {
    position: absolute;
    margin: 3px 0 0;
    padding: 0;
    height: auto;
    max-height: 500px;
    width: 250px;
    background: #fff;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    overflow-y: auto;
    z-index: 1;

    & li {
      list-style: none;

      & input {
        display: block;
        margin: 16px;
        height: 34px;
        width: 218px;
        padding: 6px 12px;
        outline: none;
        font-size: 14px;
        color: #555;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
      }

      & a {
        display: block;
        text-decoration: none;
        color: #333;
        padding: 3px 16px;
        cursor: pointer;

        &:hover {
          color: #262626;
          background-color: #f5f5f5;
        }
      }
    }
  }
}
</style>
