<template>
  <span @click="onSelectTag" class="filter-tag">
    <strong>{{ tag }}</strong>
    <span class="fas fa-times"></span>
  </span>
</template>

<script>
/**
 * Set up the FilterTag component
 * @constructor
 **/
export default {
  name: 'filter-tag',

  /**
   * Props represents variables passed by the parent component
   * @property
   */
  props: {
    tag: ''
  },

  /**
   * Represents all component functions
   * @property
   */
  methods: {

    /**
     * Event emmiter to parent component
     * @function
     */
    onSelectTag () {
      this.$emit('tagClicked', true)
    }

  }
}
</script>

<style lang="scss" scoped>
.filter-tag {
  padding: 6px;
  color: #666;
  border: 1px solid #ccc;
  cursor: pointer;

  & strong {
    padding-right: 6px;
  }
}
</style>
