<template>
  <div class="loader"></div>
</template>

<script>
/**
 * Set up the Loader component
 * @constructor
 **/
export default {
  name: 'loader'
}
</script>

<style scoped>
.loader {
  width: 120px;
  height: 120px;
  border: 10px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  border-top: 10px solid #0d5278;
  -webkit-animation: spin 1.5s linear infinite;
  animation: spin 1.5s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
</style>