<template>
  <section class="tab__container">
    <input id="tab1" type="radio" name="tabs" checked>
    <label for="tab1">Video info</label>

    <input id="tab2" type="radio" name="tabs">
    <label for="tab2">Related videos</label>

    <section id="tab__content--description" class="content__text">
      <p>{{ info.description }}</p>
      <video-tags :tags="tags" :videoId="info.vid" v-on:showModal="onCloseModal($event)"/>
    </section>

    <section id="tab__content--related-videos" class="content__text">
      <video-list :playlist="relatedVideos" v-on:videoSelected="updateCurrentVideo($event)"/>
    </section>
  </section>
</template>

<script>
import { splitString } from '@/utils'
import VideoList from '@/components/VideoList.vue'
import VideoTags from '@/components/VideoTags.vue'

/**
 * Set up the ModalTab component
 * @constructor
 **/
export default {
  name: 'modal-tab',

  /**
   * Represents all components used in the current scope
   * @property
   */
  components: {
    VideoList,
    VideoTags
  },

  /**
   * Props represents variables passed by the parent component
   * @property
   */
  props: {
    info: {}
  },

  /**
   * Data properties are template variables, they're sync and runs before the component is created.
   * @property {function}
   */
  data () {
    return {
      tags: [],
      relatedVideos: []
    }
  },

  /**
   * Represents all component functions
   * @property
   */
  methods: {

    /**
     * Creates an array of tags
     * @function
     * @return {Array}
     */
    createTagList (tagsText) {
      this.tags = splitString(tagsText)
    },

    /**
     * Commits an event to close the modal
     * @function
     * @return {undefined}
     */
    onCloseModal() {
      this.$store.commit('setShowModal', false)
    },

    /**
     * Represents a related video list
     * @function
     * @return {Array}
     */
    getRelatedVideos (assetClassProperty, vid, nid) {
      const relatedWords = splitString(assetClassProperty)
      const currentVideos = this.$store.getters.currentVideoList
      const relatedVideos = currentVideos.filter(curr =>
        curr.nid !== nid && curr.title.indexOf(relatedWords[0]) > -1
      )

      this.relatedVideos = relatedVideos.slice(0, 3)
    }
  },

  /**
   * Lifecycle hook whick is executed when the component is mounted
   * @property {function}
   */
  mounted() {
    this.createTagList(this.info.tags)
    this.getRelatedVideos(this.info.asset_class, this.info.vid, this.info.nid)
  }
}
</script>

<style lang="scss" scoped>
.tab__container {
  padding: 5px;
  background: #e3e3e3;
}

.content__text {
  display: none;
  padding: 5px 15px;
  background: #fff;
  border-top: 1px solid #ddd;
}

input {
  display: none;
}

label {
  display: inline-block;
  margin: 0 0 -1px;
  padding: 15px 25px;
  text-align: center;
  text-transform: uppercase;
  color: #555;
  background: #eee;
}

label:before {
  font-family: fontawesome;
  font-weight: normal;
  margin-right: 10px;
}

label:hover {
  background: #fff;
  cursor: pointer;
}

input:checked + label {
  color: #555;
  border-bottom: 1px solid #ddd;
  background: #fff;
}

#tab__content--description {
  white-space: pre-line;
}

#tab__content--related-videos {
  padding-left: 0;
  padding-right: 0;
}

#tab1:checked ~ #tab__content--description,
#tab2:checked ~ #tab__content--related-videos {
  display: block;
}

@media screen and (max-width: 650px) {
  label {
    font-size: 12px;
  }
}

@media screen and (max-width: 400px) {
  label {
    padding: 15px;
  }
}
</style>