<template>
  <section>
    <div class="modal__background"></div>
    <div class="modal__box">
      <div class="modal__box--content">
        <header>
          <span class="close__btn" @click="onCloseModal">×</span>
          <h2>{{ details.title }}</h2>
          <p>{{ setDate(details.date) }} | {{details.duration}}</p>
        </header>

        <div class="modal__video--box">
          <loader class="modal__video--loading" v-if="isLoading" />          
          <iframe ref="videoEmbed" frameborder="0" scrolling="no" :src="`https://titan.asset.tv/site/ms592fcd270cfe7/${ details.vid }?chid=2240`"></iframe>
        </div>

        <div class="modal__video--information">
          <modal-tab :info="details" />
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import { formatDate } from '@/utils/'
import Loader from '@/components/Loader.vue'
import ModalTab from '@/components/ModalTab.vue'

/**
 * Set up the ModalTab component
 * @constructor
 **/
export default {
  name: 'modal-window',

  /**
   * Represents all components used in the current scope
   * @property
   */
  components: {
    Loader,
    ModalTab
  },

  /**
   * Computed properties are template variables which in this case handles async data.
   * @property
   */
  computed: {
    details () {
      return this.$store.getters.selectedVideo
    }
  },

  /**
   * Data properties are template variables, they're sync and runs before the component is created.
   * @property {function}
   */
  data () {
    return {
      isLoading: true
    }
  },

  /**
   * Represents all component functions
   * @property
   */
  methods: {

    /**
     * Changes modal state to close it
     * @function
     * @return {undefined}
     */
    onCloseModal () {
      this.$store.commit('setShowModal', false)
    },

    /**
     * Format the video date
     * @function
     * @return {String}
     */
    setDate (videoDate) {
      return formatDate(videoDate)
    },

    /**
     * Checks if 'esc' were pressed
     * @function
     * @return {Function}
     */
    onKeyupCloseModal (event) {
      if (event.keyCode === 27) {
        return this.onCloseModal()
      }
    }
  },

  /**
   * Lifecycle hook whick is executed when the component is mounted
   * @property {function}
   */
  mounted () {
    window.addEventListener('keyup', this.onKeyupCloseModal)

    this.$refs.videoEmbed.onload = () => {
      this.isLoading = !this.isLoading
    }

    document.querySelector('html').style.overflow = 'hidden'
  },

  /**
   * Lifecycle hook whick is executed before the component is destroyed
   * @property {function}
   */
  beforeDestroy () {
    window.removeEventListener('keyup', this.onKeyupCloseModal)
    document.querySelector('html').style.overflowY = 'auto'
  }
}
</script>

<style lang="scss" scoped>
.modal__background {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.5;
  background-color: #000;
  z-index: 1000;
}

.modal__box {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow-y: auto;
  z-index: 1001;
}

.modal__box--content {
  min-height: 500px;
  width: 100%;
  max-width: 900px;
  margin: 30px auto;
  background: #fff;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

header {
  margin-bottom: 15px;
  border-bottom: 1px solid #eee;
  padding: 15px 15px 0;
}

h2 {
  margin-top: 12px;
  margin-bottom: 20px;
  font-weight: 600;
}

p {
  font-size: 14px;
  color: #333;
}

.modal__video--box {
  position: relative;
  margin: 0 auto;
  height: 0;
  width: 96%;
  padding-bottom: 54%;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
}

.modal__video--loading {
  margin: 20% auto;
}

iframe {
  position: absolute;
  top: 0;
  left: 0;
  height: 486px;
  width: 100%;
  border: 0;
  overflow: hidden;
  -webkit-overflow-scrolling:touch;
}

.modal__video--information {
  padding: 15px;
}

@media (min-width: 768px) {
  .modal__box--content {
    max-width: 600px;
  }
}

@media (min-width: 1000px) {
  .modal__box--content {
    max-width: 900px;
  }
}

@media (max-width: 999px) and (min-width: 768px) {
  iframe {
    height: 324px;
  }
}

@media (max-width: 767px) {
  .modal__box--content {
    max-width: 450px;
  }

  iframe {
    height: 243px;
  }
}

@media (max-width: 430px) {
  .modal__video--box {
    width: 93%;
    margin-bottom: 10px;
  }
  iframe {
    height: 228px;
  }
}
</style>