<template>
  <nav class="menu">
    <button class="menu__button" @click="openedMenu = !openedMenu" :class="{ active: openedMenu }">{{ tabSelected }}</button>
    <span class="menu__icon--mobile" @click="openedMenu = !openedMenu"></span>
    <ul class="menu__list" :class="{ 'element--shown': openedMenu }">
      <li class="mobile__item">
        <span class="close__btn" @click="openedMenu = !openedMenu">×</span>
      </li>
      <li v-for="tab in tabs" :key="tab.tab_id"
        @click="activeTab(tab.tab_id, tab.tab_name), updateVideos(tab.tab_id), openedMenu = !openedMenu">
        {{ tab.tab_name }}
      </li>
    </ul>
  </nav>
</template>

<script>
/**
 * Set up the NavigationTab component
 * @constructor
 **/
export default {
  name: 'navigation-tab',

  /**
   * Computed properties are template variables which in this case handles async data.
   * @property
   */
  computed: {

    /**
     * Represents the state of tabList
     * @async
     */
    tabs () {
      return this.$store.getters.tabList
    }

  },

  /**
   * Data properties are template variables, they're sync and runs before the component is created.
   * @property {function}
   */
  data () {
    return {
      openedMenu: false,
      tabSelected: 'Latest'
    }
  },

  /**
   * Represents all component functions
   * @property
   */
  methods: {

    /**
     * Sets active tab and update some states
     * @function
     * @return {undefined}
     */
    activeTab (tabId, tabName) {
      const list = this.tabs.map(tab => {
        if ('active' === tab.classes) {
          tab.classes = ''
        }
        if (tab.tab_id === tabId) {
          tab.classes = 'active'
        }
        return tab
      })
      this.tabSelected = tabName
      this.$store.commit('setTabList', list)
      this.$store.commit('setSelectedTabId', tabId)
      this.$store.commit('executeSearch', '')
    },

    /**
     * Dispatch action to update the videos based on tab id 
     * @function
     * @return {undefined}
     */
    updateVideos (tabId) {
      this.$store.dispatch('updateCurrentVideos', tabId)
    }
  }
}
</script>

<style lang="scss" scoped>
.menu__button {
  display: none;
}

.menu__list {
  position: absolute;
  margin: 0;
  padding: 0 0 0 30px;
}

.menu__list li:not(.mobile__item) {
  display: inline-block;
  margin-right: 1px;
  min-width: 134px;
  padding: 15px 0;
  text-align: center;
  font-size: 15px;
  color: #333;
  background: rgba(255, 255, 255, 0.8);
  cursor: pointer;
  &:hover {
    background: rgba(255, 255, 255, 0.95);
    transition: 0.5s;
  }
}

.mobile__item {
  display: none;
}

@media (max-width: 700px) {
  .menu__button {
    display: block;
    position: absolute;
    width: 95%;
    padding: 15px 30px;
    background: #218ac4;
    border-radius: 0;
    border: none;
    text-align: left;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
    outline: none;
    &::after {
      content: ' ';
      float: right;
      margin: 7px 10px 0;
      border-top: 7px dashed;
      border-top: 7px solid \9;
      border-right: 7px solid transparent;
      border-left: 7px solid transparent;
      color: #fff;
    }
  }

  .menu__list {
    display: none;
    margin-top: 53px;
    padding: 0;
    width: 95%;
  }

  .menu__list li:not(.mobile__item) {
    display: block;
    text-align: left;
    font-size: 20px;
    color: #fff;
    background: #218ac4;
    border-bottom: 1px solid #58a7d2;
    padding: 20px 30px;
    &:hover {
      background: #58a7d2;
    }
  }

  .active {
    font-weight: bold;
    background: #58a7d2;
  }
}

@media (max-width: 505px) {
  .menu {
    float: right;
    width: 300px;
    margin: 33px 0;
  }

  .menu__button {
    display: none;
  }

  .menu__icon--mobile {
    position: relative;
    float: right;
    margin-right: 35px;
    padding-left: 1.25em;
    font-size: 26px;
    cursor: pointer;
    &::before {
      content: "";
      position: absolute;
      top: 0.25em;
      left: 0;
      width: 1em;
      height: 0.125em;
      border-top: 0.375em double #fff;
      border-bottom: 0.125em solid #fff;
    }
  }

  .menu__list {
    background-color: white;
    width: 200px;
    padding: 50px 5px 0 5px;
    box-shadow: 0 0 10px 500px rgba(0, 0, 0, 0.5);
    top: 0;
    right: 0;
    height: 1000px;
    transition: right .5s ease-in;
    z-index: 5000;
  }

  .menu__list li:not(.mobile__item) {
    font-size: 14px;
    color: #333;
    background: none;
    border: none;
    padding: 15px 10px;
    &:hover {
      background: none;
      text-decoration: underline;
    }
    &:active {
      color: #fff;
      background: #3879df;
    }
  }

  .menu__list .mobile__item {
    display: block;
    padding: 15px 10px;
  }

  .menu__list .close__btn {
    margin: -20px 30px 0;
  }
}
</style>