<template>
  <form class="search__form" v-on:submit="performSearch(search)">
    <input class="search__input" type="search" name="search" placeholder="Search..." v-model="search" v-on:keyup="performSearch(search)">
    <button class="search__button">Go</button>
  </form>
</template>

<script>
/**
 * Set up the SearchForm component
 * @constructor
 **/
export default {
  name: 'search-form',

  /**
   * Data properties are template variables, they're sync and runs before the component is created.
   * @property {function}
   */
  data () {
    return {
      search: ''
    }
  },

  /**
   * Represents all component functions
   * @property
   */
  methods: {

    /**
     * Dispatch action to execute the search
     * @function
     * @return {undefined}
     */
    performSearch (search) {
      event.preventDefault();
      this.$store.dispatch('filterVideos', { keyword: search, searchType: 'title' })
    }

  }
}
</script>

<style lang="scss" scoped>
.search__form {
  display: flex;
  align-content: flex-start;
  width: 100%;
}

.search__input {
  border: 1px solid #000;
  height: 44px;
  width: 100%;
  font-size: 14px;
  font-style: italic;
  line-height: 20px;
  font-weight: 400;
  padding: 0 10px;
  border-radius: 0;
  box-shadow: none;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  outline: 0;
  -webkit-appearance: none;
}

.search__input::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

.search__button {
  padding: 9px 13px;
  font-size: 1px;
  border: none;
  background: #000;
  cursor: pointer;
  &::before {
    color: #fff;
    content: "\f002";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    font-size: 20px;
  }
}
</style>
