<template>
  <ul class="video__list">
    <li class="video__list--item" v-for="video in playlist" :key="video.nid + Math.random()" @click="onSelectVideo(video)">
      
      <img src="../assets/video-image-not-found.jpg" 
        data-fallback="https://channel.asset.tv/global/img/placeholder.jpg" 
        :data-src="video.image_url" 
        :alt="video.title">

      <span class="playlist__item-duration">
        <i class="icon-play" aria-hidden="true"></i>
        {{ video.duration }}
      </span>

      <p class="playlist__item-title">{{ video.title }}</p>
      <span>{{ setDate(video.date) }}</span>
      
    </li>
  </ul>
</template>

<script>
import { formatDate } from '@/utils/'

/**
 * Set up the VideoList component
 * @constructor
 **/
export default {
  name: 'video-list',

  /**
   * Props represents variables passed by the parent component
   * @property
   */
  props: {
    playlist: {}
  },

  /**
   * Represents all component functions
   * @property
   */
  methods: {

    /**
     * Format a date
     * @function
     * @return {String}
     */
    setDate (videoDate) {
      return formatDate(videoDate)
    },

    /**
     * Sets the video details and open the modal
     * @function
     * @return {undefined}
     */
    onSelectVideo (detail) {
      this.$store.commit('setSelectedVideo', detail)
      this.$store.commit('setShowModal', true)
    }
  },

  /**
   * Lifecycle hook whick is executed after data changes on the component and the DOM re-renders
   * @property {function}
   */
  updated () {

    setTimeout(() => {

      /**
       * Gets all images and set the related src
       * @function
       * @return {undefined}
       */
      document.querySelectorAll('img[data-src]').forEach(img => {
        img.src = img.getAttribute('data-src')
        img.onerror = () => img.src = img.getAttribute('data-fallback')
        img.removeAttribute('data-src')
      })

    })

  }
}
</script>

<style lang="scss" scoped>
.video__list {
  padding: 0;
}

.video__list--item {
  display: inline-block;
  font-size: 16px;
  padding: 1.333%;
  &:hover {
    opacity: .75;
    cursor: pointer;
  }
}

img {
  margin-bottom: -23px;
  width: 100%;
	opacity: 1;
	transition: opacity 0.4s;
}

img[data-src] {
	opacity: 0.8;
}

.playlist__item-duration {
  font-size: 12px;
  font-weight: bold;
  background: white;
  padding: 5px 16px;
}

.icon-play {
  margin-right: 2px;
  &:before {
    content: "\25BA";
  }
}

.playlist__item-title {
  display: block;
  height: 30px;
  margin: 15px 0;
  line-height: 20px;
}

@media (min-width: 992px){
  .video__list--item {
    width: 100%;
    max-width: 440px;
    padding-bottom: 40px;
  }
}

@media (min-width: 1200px) {
  .video__list--item {
    width: 30.5%;
  }
}
</style>
