<template>
  <section>
    <p v-if="videoList.length === 0">Sorry, no results were found.</p>
    <video-list :playlist="videoList" />
    <modal-window v-if="showModal" />
  </section>
</template>

<script>
import ModalWindow from '@/components/ModalWindow.vue'
import VideoList from '@/components/VideoList.vue'

/**
 * Set up the VideoPlaylistContainer component
 * @constructor
 **/
export default {
  name: 'video-playlist-container',

  /**
   * Represents all components used in the current scope
   * @property
   */
  components: {
    ModalWindow,
    VideoList
  },

  /**
   * Computed properties are template variables which in this case handles async data.
   * @property
   */
  computed: {

    /**
     * Represents the state of currentVideoList
     * @async
     */
    videoList () {
      return this.$store.getters.currentVideoList
    },

    /**
     * Represents the state of showModal
     * @async
     */
    showModal () {
      return this.$store.getters.showModal
    }
  },

  /**
   * Data properties are template variables, they're sync and runs before the component is created.
   * @property {function}
   */
  data () {
    return {
      videoDetail: {}
    }
  }
}
</script>

<style lang="scss" scoped>
p {
  padding-left: 15px;
}
</style>
