<template>
  <section class="tags__container">
    <h3>Tags</h3>
    <p>
      <span class="tags__link" v-for="(tag, index) in tags" :key="index">
        <a @click="performSearch(tag), onCloseModal()">{{ tag }}</a>
        <span :class="{ 'tags__link--last': index === tags.length - 1 }">, </span>
      </span>
    </p>
  </section>
</template>

<script>
/**
 * Set up the VideoTags component
 * @constructor
 **/
export default {
  name: 'video-tags',

  /**
   * Props represents variables passed by the parent component
   * @property
   */
  props: {
    tags: {
      type: Array,
      default: []
    }
  },

  /**
   * Represents all component functions
   * @property
   */
  methods: {

    /**
     * Execute action to filter videos by tag
     * @function
     * @return {undefined}
     */
    performSearch(word) {
      this.$store.dispatch('filterVideos', { keyword: word, searchType: 'tags' })
    },

    /**
     * Closes the modal
     * @function
     * @return {undefined}
     */
    onCloseModal() {
      this.$emit('showModal', false)
    }
  }
}
</script>

<style lang="scss" scoped>
.tags__container {
  min-height: 60px;
  padding-top: 10px;
}

h3 {
  text-transform: uppercase;
  font-weight: normal;
  font-size: 14px;
}

.tags__link {
  margin-right: 4px;
}

a {
  color: #337ab7;
  text-decoration: none;
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
}

.tags__link--last {
  display: none;
}
</style>