<template>
  <div id="app">
    <div class="container">
      <app-header/>
      <router-view/>
    </div>
  </div>
</template>

<script>
import AppHeader from '@/components/AppHeader.vue'

/**
 * Set up the main component
 * @constructor
 **/
export default {
  components: {
    AppHeader
  }
}
</script>

<style lang="scss">
html {
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  background: #E3E3E3;
}

@font-face {
  font-family: 'FontAwesome';
  src: url("./assets/fonts/font-awesome/fontawesome-webfont.eot");
  src: url("./assets/fonts/font-awesome/fontawesome-webfont.eot") format("embedded-opentype"), url("./assets/fonts/font-awesome/fontawesome-webfont.woff2") format("woff2"), url("./assets/fonts/font-awesome/fontawesome-webfont.woff") format("woff"), url("./assets/fonts/font-awesome/fontawesome-webfont.ttf") format("truetype"), url("./assets/fonts/font-awesome/fontawesome-webfont.svg#fontawesomeregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  border-radius: 0px;
  background-color: #666;
}

::-webkit-scrollbar-track {
  background-color: #FFFFFF;
  border-radius: 0px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}

h2 {
  font-size: 30px;
}

#app {
  font-size: 14px;
  color: #333;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1);
}

.element--shown {
  display: block !important;
}

.element--hidden {
  display: none !important;
}

.close__btn {
  float: right;
  margin-top: -5px;
  font-size: 30px;
  font-weight: bold;
  color: #000;
  opacity: 0.2;
  &:hover {
    cursor: pointer;
    opacity: 0.5;
  }
}

@media (max-width: 700px) {
  .container {
    margin: 0;
  }
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}
</style>
